---
layout: menu-page
title: About
permalink: about:output_ext
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}

<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <a href='{{ site.website }}'><img src="{{ relativebase }}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <h3>{{site.author}}</h3>
<p>
    FemInno-ն կանանց և նորարարության շուրջ ամենամեծ հարթակն է Հայաստանում և տարածաշրջանում։ Գործունեությունը կենտրոնանում է ԳՏՃՄ (գիտություն, տեխնոլոգիա, ինժեներություն և մաթեմատիկա) ոլորտներում և բիզնեսում կանանց ներգրավվածությունը մեծացնելուն, նրանց դերի հանրահռչակմանը, հավասար պայմանների խրախուսմանը։ Տարիներ շարունակ Ֆեմիննո-ն զբաղվում է աղջիկներին և կանանց ոգեշնչելով, սովորեցնելով, աջակցելով և նրանց փոխանցելով ԳՏՃՄ ոլորտներ մտնելու հետաքրքրություն և ինքնավստահություն։ Իրականացրել ենք տարատեսակ ծրագրեր և դասընթացներ տարբեր տարիքային խմբերի համար՝ սկսած դպրոցականներից։
</p>

<p>
    Մենք ChemInno խումբն ենք։ Մենք մասնակցում ենք FemInno STEM ծրագրին։ Մեր խումբը բաղկացած է երեք աղջիկներից՝ Մարիից, Ալյոնայից և Լինայից։
</p>

<ul>
    <li>
        <strong>Մարին</strong> 13 տարեկան է, Շիրակի մարզի Գյումրի քաղաքից։ Նա շատ է սիրում քիմիա և համակարգչային գիտություն առարկաները։ Զբաղվում է սպորտով՝ լողորդ է, և ազատ ժամանակ սիրում է փորձեր անել։
    </li>
    <li>
        <strong>Ալյոնան</strong> 17 տարեկան է, Սյունիքի մարզի Շինուհայր գյուղից։ Նա շատ է սիրում աշխարհագրությունը և քիմիան։ Ազատ ժամանակ սիրում է նկարել և գրքեր կարդալ։
    </li>
    <li>
        <strong>Լինան</strong> 13 տարեկան է, Տավուշի մարզի Դիլիջան քաղաքից։ Նա շատ է սիրում քիմիան և հանրահաշիվը։ Ազատ ժամանակ սիրում է զբաղվել նկարչությամբ։
    </li>
</ul>

<p>
    Եվ իհարկե, մեր մենթորները՝ շատ սիրելի ընկեր Անահիտը և ընկեր Արտոն։ Մի քիչ էլ պատմենք մեր մենթորների մասին։
</p>

<ul>
    <li>
        <strong>Ընկեր Անահիտը</strong> 20 տարեկան է։ Նա քիմիայի մենթոր է և սովորում է ԵՊՀ քիմիայի բաժնի 4-րդ կուրսում։
    </li>
    <li>
        <strong>Ընկեր <a href="https://artomaranjyan.github.io/">Արտոն</a></strong> մեր համակարգչային գիտելիքների մենթորն է և սովորում է ԿԱՈՒՍՏ (Սաուդյան Արաբիա) համալսարանի ասպիրանտուրայում։
    </li>
</ul>

<p>
    Նրանք երկուսն էլ խելացի, բարի և պարտաճանաչ մարդիկ են, ովքեր պատրաստ են միշտ օգնել ոչ միայն ծրագրի շրջանակներում, այլ նաև ծրագրից դուրս։ Ծրագրի շրջանակներում մենք ձեռք բերեցինք ինչպես կարևոր գիտելիքներ, այնպես էլ լավ ընկերներ։
</p>

    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.twitter %}
        <li class="twitter"><a class="twitter" href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a></li>
      {% endif %}
      {% if site.linkedin %}
        <li class="linkedin"><a class="linkedin" href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% endif %}
      {% if site.github %}
        <li class="github"><a class="github" href="https://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% endif %}
      {% if site.email %}
        <li class="email"><a class="email" href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% endif %}
      {% if site.bandcamp %}
        <li class="bandcamp"><a class="bandcamp" href="https://{{site.bandcamp}}.bandcamp.com" target="_blank"><i class="fa fa-bandcamp" aria-hidden="true"></i></a></li>
      {% endif %}
      {% if site.stackoverflow %}
      <li class="stackoverflow"><a class="stackoverflow" href="https://stackoverflow.com/users/{{site.stackoverflow}}" target="_blank">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
